---
title: Grid Utilities
---

<h2>layout-grid</h2>
<ul role="list" class="layout-grid">
  <li>Lorem, ipsum dolor.</li>
  <li>Molestiae, autem placeat?</li>
  <li>Eligendi, officiis neque?</li>
</ul>

<h2>layout-grid--columns</h2>
<ul role="list" class="layout-grid layout-grid--columns">
  <li>Lorem, ipsum dolor.</li>
  <li>Molestiae</li>
  <li>Eligendi, officiis neque?</li>
</ul>