.layout-grid{
  --gap: 1rem;
  display:grid;
  gap: var(--gap);

  &--columns{
    grid-auto-flow: column;
  }
  &--auto-fit{
    --min: 20ch;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min), 100%), 1fr));
  }
  &--sidebar{
    --sidebar-max: 20ch;
    --content-min: 80ch;
    grid-template-columns: fit-content(var(--sidebar-max)) 
    minmax(min(50vw, var(--content-min)), 1fr);
  }

  &--centered{
    place-content: center;
    // place-items: center;
  }
}

