.image{
	aspect-ratio: var(--image-aspect-ratio);
	object-fit: cover;
	max-height: var(--image-max-height);
	
	@supports not (aspect-ratio: 1) {
    height: var(--ratio-unsupported-height) !important;
  }

	
	&--fullwidth{
		width: 100%;
	}
}