.container{
  width: 80ch;
  max-width: 95vw;
  margin-inline:auto;
}

.layout-flex{
  --gap: 2rem;
  --wrap: wrap;
  display: flex;
  flex-wrap:var(--wrap);
  gap: var(--gap);
}

.section, section{
  margin-block: 8vh;
}